html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: slategrey;
}

.movie-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.movie-details-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: antiquewhite;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

    .movie-details-container img {
        border-radius: 10px;
    }

.movie-preview-item {
    padding: 20px;
    word-break: keep-all;
}

.movie-preview-textbox {
    line-height: 20px;
    font-size: 20px;
    text-align: left;
    color: black;
}

    .movie-preview-textbox h3 {
        width: 150px;
        text-overflow: ellipsis;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
    }

    .movie-preview-textbox p {
        height: 3px;
        font-size: 15px;
        text-decoration: none;
    }

.poster-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.scrollmenu {
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.actor-preview-card {
    display: inline-flex;
    flex-wrap: wrap;
    width: 154px;
    height: 100%;
    text-decoration: none;
    background-color: white;
}

    .actor-preview-card img {
        width: fit-content;
        height: auto;
        object-fit: cover;
    }

.name-role {
    width: 200px;
    height: 60px;
    font-size: 13px;
    margin: 4px;
    color: black;
    text-align: left;
    white-space: normal;
    overflow: hidden;
}

.person-details-photo {
    width: 300px;
    height: 424px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

#ReadLess {
    display: none;
}

.info-column {
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.caption {
    display: block;
}

.info-column p {
    margin: 0;
}
