@model CreditsExtension

<div class="scrollmenu">
    @foreach (var movie in Model.Cast.Where(cast => cast.Order == 0 || cast.Order == 1))
    {
        <div class="actor-preview-card">
            <a href="@Url.Action("Details", "Movie", new { movieId = movie.Id })">
                <img src="@movie.PosterPath" alt="Movie Poster" style="width:100%">
            </a>
            <div class="name-role">
                <strong><b>@movie.Title</b></strong>
                <p>@movie.Character</p>
            </div>
        </div>
    }
</div>